{{ define "header" }}

<div class="row" style="height:10px; background-color:black;"></div>
<div class="row" style="background-color: #393b3b;">
  <div class="container">
    <div class="row" style="padding-top:1.0em;">
      <h1 style="color:white;">Blog Title</h1>
    </div>
    <div class="row">
      <nav class="container navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">&nbsp;</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#" routerLink="/blog" [routerLinkActive]="['active']">Home</a>
            <a class="nav-item nav-link" href="#" routerLink="/admin/articles" [routerLinkActive]="['active']">Admin</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

{{ end }}
